{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load countries %}
{% block title %} formulaire de renseignement{% endblock %}
{% block bodyId %}rens{% endblock %}
{% block autreCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rens_depot.css' %}"/>
{{ postulant.media.css }}
{{fichiers_post.media.css}}
{% endblock %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"> <a href="{% url 'accueil' %}">Accueil</a> </li>
			<li class="breadcrumb-item active"> Renseignement </li>
		</ol>
	</nav>
{% endblock %}
{% block infoDossier %}
{% if user.type_personne == 'Postulant' %}
<div class="row col-12" id="infoDos">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
       	<div class="label">Dossier:</div>
        <div class="val"> {{user.dossier.numero_dossier}} </div>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
        <div class="label"> Etat du dossier: </div>
        <div class="val" id="etatDos"> 	{{user.dossier.etat_traitement|capfirst}} </div>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
        <div class="label">Date d'inscription:</div>
        <div class="val"> {{user.dossier.date_inscription|date:'SHORT_DATETIME_FORMAT'}} </div>
	</div>
	<div class="col-2 col-sm-3 col-md-3 col-lg-3">
        <div class="label">Dernière modification:</div>
        <div class="val"> {{user.dossier.date_modif|date:'SHORT_DATETIME_FORMAT'}} </div>
    </div>
    <div class="col-2 col-sm-2 col-md-2 col-lg-2">
        <div class="label">Nationalité:</div>
        <div class="val"> {{user.pays.name}} <img src="{{user.pays.flag}}" class="ml-3">  </div>
    </div>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 mt-2">
    	{% if user.dossier.etat_traitement != 'annulé' %}
    		<a href="{% url 'depot_dossier:changement_etat' %}" title="En cliquant vous annulez votre dossier" class="btn btn-danger btn-sm"> Annuler </a>
    	{% else %}
    		<a href="{% url 'depot_dossier:changement_etat' %}" title="En cliquant vous récupérez votre dossier" class="btn btn-success btn-sm"> Reprendre </a>
    	{% endif %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block centre %}

	{% block info %}
	<p class="container">
		{% if user.type_personne == 'Postulant' %}
		<nav id="onglets" class="row nav nav-tabs"> 
			<div class="col-2 col-md-2 col-sm-2 col-lg-2 col-xl-2"> <a href="#idContenu" class="nav-item nav-link active" data-toggle="tab" id="id" > <center> Identification </center> </a> </div>
			<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3"> <a href="#docContenu" class="nav-item nav-link" data-toggle="tab" id="doc" > <center> Document d'identité </center> </a> </div>
			<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3"> <a href="#formationContenu" class="nav-item nav-link" data-toggle="tab" id="formation"> <center> {% if user.formation.niveau == 'master' %} Formation sollicitée {% elif user.formation.niveau == 'doctorat' %} Votre thèse {% endif %} </center> </a>  </div>
			<div class="col-2 col-md-2 col-sm-2 col-lg-2 col-xl-2"> <a href="#curriculumContenu" class="nav-item nav-link" data-toggle="tab" id="curriculum"> <center> Curriculum </center> </a>  </div>
			<div class="col-2 col-md-2 col-sm-2 col-lg-2 col-xl-2"> <a href="#piecesContenu" class="nav-item nav-link" data-toggle="tab" id="pieces"> <center> Pièces jointes </center> </a>  </div>
		</nav>
		<div class="tab-content">
			<div class="tab-pane active" id="idContenu"> <center class="container contenuRens">
				<div>
					<p>Remplissez tous les champs. Toutes les informations doivent être juste.</p>
					<p>* Tout les champs <span style="font-style: italic; font-weight: bold; color: red"> sont obligatoires</span>.</p>
				</div>	
				{% crispy postulant %}
			</center> </div>
			<div class="tab-pane" id="docContenu"> <center class="container contenuRens">
				<div>
					<p>Entrez les informations sur votre document d'identification.</p>
					<p>* Tout les champs <span style="font-style: italic; font-weight: bold; color: red"> sont obligatoires</span>.</p>
				</div>	
				{% crispy document %}
			</center> </div>
			<div class="tab-pane" id="formationContenu"> <center class="container contenuRens">
				<div>
					<p>Vous pouvez changer votre choix autant de fois que vous voudriez avant la date limite.</p>
					<p>* Tout les champs <span style="font-style: italic; font-weight: bold; color: red">sont obligatoires</span>.</p>
				</div>
					{% crispy formation %}
			</center> </div>
			<div class="tab-pane" id="curriculumContenu"> <center class="container contenuRens"> Renseignez les informations de l'obtention de votre baccalauréat à cette année.
				<p>* Cochez la dernière case d'un formulaire pour supprimer celui-ci. (N'oubliez pas de sauvegarder après avoir coché.)</p>
				<p>* Appuyer sur "+" pour avoir (autant que vous le souhaitez) un nouveau formulaire vide.</p>
				<p>* Les boutons circulaires ci-dessous permettent de changer de parcours. N'oubliez pas de sauvegarder avant de changer de parcours.</p>
				<p>* Tout les champs <span style="font-style: italic; font-weight: bold; color: red">sont obligatoires</span>.</p>
			</center>

				<table class="mb-5">
					<tr> <th bgcolor="lightgrey"> <div id="header_table">Mon curriculum</div> </th> </tr>
					<tr> <td>
						<div class="row form-row">
						<!--	<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 active"> <input type="radio" name="parcours" value="scolaire" checked="checked" class="active" id="scolaire"> Lycée & Collège </div> -->
							<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3 active"> <input type="radio" name="parcours" value="universitaire" checked="checked" class="active" id="universitaire"> Université </div>
							<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3"> <input type="radio" name="parcours" value="stage" id="stage"> Stage </div>
							<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3"> <input type="radio" name="parcours" value="professionnel" id="professionnel"> Travail </div>
							<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3"> <input type="radio" name="parcours" value="autre" id="autre"> Autre </div>
						</div>
						<div class="tab-content">
							<div class="tab-pane contenuRens active" id="univContenu">
								{% if parcoursUniversitaire.extra > 0 %}
        						<form method="post" class="form-horizontal mb-5">
									{% csrf_token %}
									<div id="univ_forms"> {% crispy parcoursUniversitaire helperUniversitaire %} </div>
									<input type="hidden" name="type_form" value="universitaire">
									<div align="center" class="mb-5">
										<button class="btn" type="button" id="add-form_univ" title="Cliquer pour ajouter un nouvelle ligne">+</button>
										<input type="submit" class="btn btn-primary" value="Sauvegarder">
										<button class="btn" id="dup-form_sco" type="button" title="Cliquer pour dupliquer la dernière ligne" style="width: 5%;"><img src="{% static 'img/clone.svg' %}" alt="img_copie"></button>
									</div>
        						</form>
        						<div style="display: none;">
        							<div id="univ-empty_form"> {% crispy parcoursUniversitaire.empty_form helperUniversitaire %} </div>
        						</div>
        						{% endif %}
							</div>
							<div class="tab-pane contenuRens" id="stageContenu">
								{% if parcoursStage.extra > 0 %}
        						<form method="post" class="form-horizontal mb-5">
									{% csrf_token %}
									<div id="stage_forms"> {% crispy parcoursStage helperStage %} </div>
									<input type="hidden" name="type_form" value="stage">
									<div align="center" class="mb-5">
										<button class="btn" type="button" id="add-form_stage" title="Cliquer pour ajouter un nouvelle ligne">+</button>
										<input type="submit" class="btn btn-primary" value="Sauvegarder">
										<button class="btn" id="dup-form_sco" type="button" title="Cliquer pour dupliquer la dernière ligne" style="width: 5%;"><img src="{% static 'img/clone.svg' %}" alt="img_copie"></button>
									</div>
        						</form>
        						<div style="display: none;">
        							<div id="stage-empty_form"> {% crispy parcoursStage.empty_form helperStage %} </div>
        						</div>
        						{% endif %}
							</div>
							<div class="tab-pane contenuRens" id="proContenu">
								{% if parcoursProfessionnel.extra > 0 %}
        						<form method="post" class="form-horizontal mb-5">
									{% csrf_token %}
									<div id="pro_forms"> {% crispy parcoursProfessionnel helperProfessionnel %}	</div>
									<input type="hidden" name="type_form" value="professionnel">
									<div align="center" class="mb-5">
										<button class="btn" type="button" id="add-form_pro" title="Cliquer pour ajouter un nouvelle ligne">+</button>
										<input type="submit" class="btn btn-primary" value="Sauvegarder">
										<button class="btn" id="dup-form_sco" type="button" title="Cliquer pour dupliquer la dernière ligne" style="width: 5%;"><img src="{% static 'img/clone.svg' %}" alt="img_copie"></button>
									</div>
        						</form>
        						<div style="display: none;">
        							<div id="pro-empty_form"> {% crispy parcoursProfessionnel.empty_form helperProfessionnel %} </div>
        						</div>
        						{% endif %}
							</div>
							<div class="tab-pane contenuRens" id="autreContenu">
								{% if parcoursAutre.extra > 0 %}
        						<form method="post" class="form-horizontal mb-5">
									{% csrf_token %}
									<div id="autre_forms">	{% crispy parcoursAutre helperAutre %} </div>
									<input type="hidden" name="type_form" value="autre">
									<div align="center" class="mb-5">
										<button class="btn" type="button" id="add-form_autre" title="Cliquer pour ajouter un nouvelle ligne">+</button>
										<input type="submit" class="btn btn-primary" value="Sauvegarder">
										<button class="btn" id="dup-form_sco" type="button" title="Cliquer pour dupliquer la dernière ligne" style="width: 5%;"> <img src="{% static 'img/clone.svg' %}" alt="img_copie"> </button>
									</div>
        						</form>
        						<div style="display: none;">
        							<div id="autre-empty_form"> {% crispy parcoursAutre.empty_form helperAutre %} </div>
        						</div>
        						{% endif %}
							</div>
						</div>
					</td> </tr>
				</table>
				
			 </div>
			<div class="tab-pane" id="piecesContenu"> <center class="container contenuRens"> Contenu pièces jointes
				<div>
					<p>Téléchargement des fichiers.</p>
					<p>* Seuls les champs 'Passport' (si vous être originaire d'un pays memebre de la CEDEAO) et 'Attestation de Master' (si vous postulez pour le Master) <span style="font-style: italic; font-weight: bold; color: red;">ne sont pas obligatoires</span></p>
				</div>
				<form method="post" enctype="multipart/form-data" class="form-horizontal mb-5" id="form_fichier">
					{% csrf_token %}
					<table class="table table-responsive-sm table-responsive-md table-responsive-lg">
					{% for field in fichiers_post %}
						<tr> <td class="row"> 
							<div class="row col-12"> <div class="color_champs" id="{{field.name}}"></div> </div>
							<div class="col-sm-5 col-md-5 col-lg-5"> {{ field.label_tag }} </div> <div class="col-sm-5 col-md-5 col-lg-5">{{ field }} </div> </td> </tr>
					{% endfor %}

					{{attestation_travail.management_form}}
					{% for form in attestation_travail %}
						<tr> <td> {% crispy form  helperAttestationTravail %}	</td> </tr>
					{% endfor %}

					{{attestation_stage.management_form}}
					{% for form in attestation_stage %}
						<tr> <td> {% crispy form  helperAttestationStage %} </td> </tr>
					{% endfor %}

					{{attestation_autre.management_form}}
					{% for form in attestation_autre %}
						<tr> <td> {% crispy form  helperAttestationAutre %}	</td> </tr>
					{% endfor %}

					<tr class="invisible"> <td> <div id="progressbar"></div> <div id="valeur_progress"></div> </td> </tr>

					<div id="ms_sauve" class="invisible"> <h3> Vos informations ont été sauvegardé!! </h3> </div>
					</table>
					<div id="erreurs_attestations" class="color_champs"></div>
					<div class="btn btn-group mt-5">
						<input type="hidden" name="type_form" value="pieces_jointes">
						<input type="submit" value="Sauvegarder" class="btn btn-primary">
					<!--	<input type="reset" value="Effacer" class="btn btn-primary"> -->
					</div>
				</form>
				
			</center> </div>
		</div>
		{% endif %}
	</p>

	{% endblock %}
{% endblock %}

{% block autreScript %}
{{ postulant.media.js }}
{{ fichiers_post.media.js }}
<script type="text/javascript" src="{% static 'js/rens_depot.js' %}"></script>
<script type="text/javascript" src="{% static 'js/inscription.js' %}"></script>
{% endblock %}