<nav id="" class="row nav nav-tabs contenuRens">
	<div class="col-2 col-md-2 col-sm-2 col-lg-2 col-xl-2"> <a href="#scoContenu" class="nav-item nav-link active" data-toggle="tab" id="scolaire" > <center> Parcours Scolaire </center> </a> </div>
	<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3"> <a href="#univContenu" class="nav-item nav-link" data-toggle="tab" id="universitaire" > <center> Parcours Universitaire </center> </a> </div>
	<div class="col-3 col-md-3 col-sm-3 col-lg-3 col-xl-3"> <a href="#stageContenu" class="nav-item nav-link" data-toggle="tab" id="stage"> <center> Stage </center> </a>  </div>
	<div class="col-2 col-md-2 col-sm-2 col-lg-2 col-xl-2"> <a href="#proContenu" class="nav-item nav-link" data-toggle="tab" id="professionnel"> <center> Parcours Professionnel </center> </a>  </div>
	<div class="col-2 col-md-2 col-sm-2 col-lg-2 col-xl-2"> <a href="#autreContenu" class="nav-item nav-link" data-toggle="tab" id="autre"> <center> Autre </center> </a>  </div>
</nav>
        			
        			
        			
