{% extends "base2test.html" %}
{% load staticfiles %}
{% block autreCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/liste_table.css' %}"/> 
{% endblock %}
{% block title %}Consulter mes rapports{% endblock %}
{% block bodyId %}mesRapport{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"> <a href="{% url 'accueil' %}">Accueil</a></li>
		<li class="breadcrumb-item active">Mes rapports</li>
	</ol>
</nav>
{% endblock %}

{% block centre %}

{% include 'recherche.html' %}
{% block info %}
<p class="container">
	<center class="center"> <h1>List de l'ensemble de vos stages déjà effectués et encours</h1> </center>
	{% for stage in stages %}
		<table border="1">
			<caption>Vous avez un total de {{stages|length}} stage{{stages|length|pluralize}} <a href="{% url 'accueil' %}"> Retourner à l'accueil </a> <a href="{% url 'Rapport:depotRapport' %}"> Charger un nouveau stage </a>  </caption>
			<tr> <th> Stage Numéro  </th> </tr>
			<tr> <td>
				<dl>
					<dt> Auteur: </dt>
					<dd>{{stage.stagiaire.prenom|capfirst}} {{stage.stagiaire.nom|capfirst}} </dd>

					<dt> Maître de stage: </dt>
					<dd>{{stage.maitreStage.prenom|capfirst}} {{stage.maitreStage.nom|capfirst}} </dd>

					<dt> Superviseur: </dt>
					<dd>{{stage.superviseur.prenom|capfirst}} {{stage.superviseur.nom|capfirst}} </dd>

					<dt> Lieu: </dt>
					<dd>{{stage.lieu}} </dd>

					<dt>État d'avancement: </dt>
					<dd> {{stage.etat}} </dd>
				{% if stage.soutenance.rapport %}
					<dt>Thème: </dt>
					<dd> {{stage.soutenance.rapport.theme}} </dd>

					<dt>Mots Clés: </dt>
					<dd> {{stage.soutenance.rapport.motsCle}} </dd>

					<dt>Résumé: </dt>
					<dd> {{stage.soutenance.rapport.resume|truncatewords:100}} </dd>

					<dt> Date de chargement du rapport: </dt>
					<dd> {{stage.soutenance.rapport.dateEnvoi}} </dd>

					<dt>Date de dernière modification: </dt>
					<dd> {{stage.soutenance.rapport.dateModif}} </dd>

					<dt> Rapport uploadé: </dt>
					<dd>  <a href="" download="fichier"> Télécharger </a> </dd>
				{% else %}
					<p> Vous n'avez pas encore sauvegardé de rapport pour ce stage</p>
				{% endif %}
				{% if stage.soutenance %}
					<dt>Date de Soutenance: </dt>
					<dd>{% if not stage.soutenance.dateEffective %} {{stage.soutenance.datePrevu}} {% else %} {{stage.soutenance.dateEffective}} {% endif %}</dd>

					<dt>Salle: </dt>
					<dd> {{stage.soutenance.salle}}</dd>

					<dt> Heure: </dt>
					<dd> {{stage.soutenance.heure}} </dd>
				{% else %}
					<p> Vous n'avez pas encore sauvegardé de rapport pour ce stage</p>
				{% endif %}
				</dl>
			</td> </tr>
		</table>
	{% empty %}
		<p class="errorlist"> Vous n'avez uploadé aucun stage. </p>
		<p> <a href="{% url 'accueil' %}"> Ratour à l'accueil </a> </p>
	{% endfor %}
</p>
{% endblock %}

{% endblock %}
