{% extends "base2test.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{stage.media}}
{% block autreCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/stage.css' %}"/>
	{{stage.media}}
{% endblock %}
{% block title %}Dépot de rapport de stage{% endblock %}
{% block bodyId %}stageRapport{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"> <a href="{% url 'accueil' %}">Accueil</a></li>
		<li aria-current="page" class="breadcrumb-item active">Formulaire de dépot de stage</li>
	</ol>
</nav>
{% endblock %}

{% block centre %}

{% include 'recherche.html' %}
{% block info %}
	<nav id="onglet" class="row nav nav-tabs"> 
		<div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4"> <a href="#stage" class="nav-item nav-link active" data-toggle="tab" id="ongletStage"> <center> Stage </center> </a> </div>
		<div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4"> <a href="#rapport" class="nav-item nav-link" data-toggle="tab" id="ongletRapport"> <center> Rapport </center> </a> </div>
		<div class="col-4 col-md-4 col-sm-4 col-lg-4 col-xl-4"> <a href="#soutenance" class="nav-item nav-link" data-toggle="tab" id="ongletSoutenance"> <center> Soutenance </center> </a>  </div>
	</nav>

	<div class="tab-content">
		<div class="tab-pane active" id="stage"> <center class="container contenuRens">
			<div>
				<p>Ajout du texte en lien avec stage.</p>
			</div>	
			{% crispy stage %}
		</center> </div>
		<div class="tab-pane" id="rapport"> <center class="container contenuRens">
			<div>
				<p>Ajout du texte en lien avec rapport de stage.</p>
			</div>	
			{% crispy rapport %}
		</center> </div>
		<div class="tab-pane" id="soutenance"> <center class="container contenuRens">
			<div>
				<p>Ajout du texte en lien avec soutenance.</p>
			</div>
				{% crispy soutenance %}
		</center> </div>
	</div>

{% endblock %}
{% endblock %}

{% block autreScript %}
	<script type="text/javascript" src="{% static 'js/stage.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/rens_depot.js' %}"></script>
{% endblock %}