{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
	<style type="text/css">
		/*img#logo{
			width: 50%;
			position: relative;
			float: left;
			left: 0;
			margin: -10px;
			padding: -10px;
			background-color: white;
		}*/
	</style>
	</head>
	<body>
		<header>
    		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        		<!-- <a href="http://localhost:8000/login"> <img src="../static/img/logo1.png" alt="logo_uo" title="Logo de UO1 Pr JKZ" id="logo" class="navbar-brand" /> </a> -->
        		<div class="collapse navbar-collapse">
            		<h1>SIDINFOR :: Système Intégré du Département d'Informatique</h1>
        		</div>
    		</nav>
		</header>
		<h3>Inscription SIDINFOR</h3>
		{% if type_mail == 'inscription' %}
			{% if regime == 'étudiant' %}
			<div>
				<p>
				Vous recevez ce mail suite à votre inscription sur la plateforme SIDINFOR en tant qu'étudiant.
        		Vontre identité sera vérifié avant l'activation de votre compte.
        		Merci de Patienter. Cordialement.
			</p></div>
			{% elif regime == 'postulant' %}
			<div>
				<p>
					Vous recevez ce mail suite à votre inscription sur la plateforme SIDINFOR en tant que postulant.
        			Cliquez sur <a href="http://localhost:8000/sidinfor/depot_dossier/activation_compte/{{user_name}}/{{code}}" class="btn btn-info btn-sm">ici</a> pour activater automatiquement votre compte. Cordialement.
				</p>
			</div>
			{% else %}
			<div>
				<p>
					<dl class="container">
						<dt>Prénom et Nom:</dt> <dd> {{identite}} </dd>
						<dt>email: </dt> <dd> {{email}} </dd>
						<dt>Date d'inscription: </dt> <dd> {{date_inscription}} </dd>
						<dt>Régime: </dt> <dd> {{type}} </dd>
						<dt>Statut du mail envoyé: </dt> <dd> {{statut}} </dd>
					</dl>
				</p>
			</div>		
			{% endif %}
		{% elif type_mail == 'confirmation' %}

			{% if regime == 'étudiant' %}
			<div><p>
				Vous recevez ce mail suite à la confirmation de votre inscription sur la plateforme sidinfor.
        		Cordialement.
			</p></div>
			{% elif regime == 'postulant' %}
			<div><p>
				Vous recevez ce mail suite à la confirmation de votre inscription sur la plateforme sidinfor.
        		Cordialement.
			</p></div>
			{% else %}
			<div><p>
				Confirmation d'action du compte de:
				<dl class="container">
					<dt>Prénom et Nom:</dt> <dd> {{identite}} </dd>
					<dt>email: </dt> <dd> {{email}} </dd>
					<dt>Date d'inscription: </dt> <dd> {{date_inscription}} </dd>
					<dt>Régime: </dt> <dd> {{type}} </dd>
					<dt>Statut du mail envoyé: </dt> <dd> {{statut}} </dd>
				</dl>	
			</p></div>		
			{% endif %}
		{% endif %}
	</body>
</html>




