{% extends "base2.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load countries %}

{% block autreCSS %}
	{{form.media.css}}
{% endblock %}
{% block title %}Modifier son profile{% endblock %}
{% block bodyId %}modif{% endblock %}
{% block info_user%} {{user.prenom}} {{user.nom}} {% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"> <a href="{% url 'accueil' %}">Accueil</a></li>
		<li class="breadcrumb-item"> <a href="{% url 'profile' %}"> Mon profile </a> </li>
		<li class="breadcrumb-item active">Modifier mon profile</li>
	</ol>
</nav>
{% endblock %}
{% block centre %}

{% include 'recherche.html' %}

{% block info %}

<center class="center"> <h1>Modifier votre profile</h1> </center>

<center class="container">
	<form method="post" action="" class="">
		{% csrf_token %}
		{% crispy form %}
		<div class="btn btn-group">
			<input type="submit" value="Modifier"/>
			<a class ="btn btn-danger" href="{% url 'profile' %}"> Retour </a>
		</div>
	</form>
</center>
{% endblock %}
{% endblock %}

{% block script %}
{{form.media.js}}
{% endblock %}
