
body
{
	/*background-image: url("../img/logo1.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;*/
	font-family: Arial, Tahoma, Verdana, , sans-serif, Georgia;
}

body#inscription
{
	min-height: 100em;
}

header
{
	position: relative;
	top: 0;
	width: 100%;
	font-family: Georgia, Arial, Tahoma;
}

header h1
{
	margin: 0;
	padding: 0;
	color: white;
	font-size: 2em;
}


img#logo
{
	width: 50%;
	position: relative;
	float: left;
	left: 0;
	margin: -10px;
	padding: -10px;
	background-color: white;
}


body#inscription div#contenu, body#login div#contenu
{
	position: absolute;
	top: 200px;
	left: 50%;
	width: 500px;
	margin: 0 0 0 -250px;
	padding: 0;
}

#contenu h1
{
	text-align: center;
	margin: 0 60px 30px 60px;
	padding: 0 0 5px 0;
	color: #3b5998;
	border-bottom: 1px solid #3b5998;
	margin-bottom: 20px;
	font-size: 23px;
}


.bande
{
	border: 5px solid white;
	position: absolute;
	top: 0;
	left: 8%;
	width: 10px;
	height: 10px;	
	margin-right: 10px;
}

ul.errorlist li
{
	text-align: center;
	color: red;
	list-style: none;
}