form label
{
	display: block;
	width: 175px;
	float: left;
	text-align: right;
	padding: 4px 10px 0 0;
}

form input[type = "email"], form input[type = "text"], form input[type = "password"], form input[type = "date"], select
{
	display: block;
	width: 250px;
	padding: 2px;
	
}

form input[type = "textarea"]
{
	display: block;
}


form input[type = "submit"], form input[type = "reset"]
{
	margin: 0 20px 0 160px;
	padding: 2px 15px 3px 15px;
	text-align: center;
}

form fieldset
{
	margin-bottom: 30px;
	border-color: lightblue;
}

form fieldset legend
{
	text-align: center;
	color: red;
}

section p a
{
	color: #3b5998;
}

input:focus
{
	border-color: lightblue;
}