{% load staticfiles %}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset = "utf-8">
        <meta name="author" content="Mohamed Zeba">
        <meta name="description" content="">
        <meta name="keywords" content="stage rapport sidinfor">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title> Page - {% block title %}{% endblock %} </title>
        <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    {% block CSSBase %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base1.css' %}"/>
    {% endblock %}
    {% block autreCSS%} {% endblock %}
    </head>
	<body id="{% block bodyId %}{% endblock %}">
    {% block headerContenu %}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a href="{% url 'login' %}"> <img src="{% static 'img/logo1.png' %}" alt="logo_uo" title="Logo de UO1 Pr JKZ" id="logo" class="navbar-brand" /> </a>
            <div class="collapse navbar-collapse">
                <h1 id="titre">SIDINFOR :: Système Intégré du Département d'Informatique</h1>
            </div>
        </nav>
    </header>
    {% endblock %}

    <div id="contenu">
        {% block contenu %}
        {% endblock %}
    </div>
{% block footer %}
{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}" crossorigin="anonymous"> </script>
<!--    <script>window.jQuery || document.write('<script type="text/javascript" src="{% static "js/jquery-slim.min.js" %}"><\/script>')</script> -->
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% block script %}
    {% endblock %}

    {% block autreScript %}
    {% endblock %}

 	</body>
</html>