{% extends "base1.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block title %}Inscription{% endblock %}
{% block autreCSS%} {{etudiant.media}}
{{postulant.media}} 
 {% endblock %}
{% block bodyId %}inscription{% endblock %}

{% block contenu %}
	<h1> Inscription </h1>

	<form >
		<p class="row">
			<label for="typeProfile" class="col-5"> S'inscrire en tant que: </label>
			<select id = "typeProfile" name="typeProfile" class="form-control col-6">
				<option value="etudiant" {% if etudiant.is_bound %}
						selected="selected" {% endif %}> Étudiant </option>
				<option value="postulant" {% if postulant.is_bound %} 
						selected="selected" {% endif %}> Postulant  </option>
			</select>
		</p>
	</form>

	<form action="" method="post" id = "FormEtudiant">
		{% csrf_token %}
		{% crispy etudiant %}

		<p class="errorlist">{{ erreur }}</p>
		{% crispy compte %}

		<div class="row">
			<input type="hidden" value="etudiant" name="typeProfile" />
			<input type="submit" value="Envoyer" class="btn btn-success btn-link col-3 float-left" />
			<div class="offset-6"></div>
			<a class="btn btn-danger float-right col-3" href="{% url 'login' %}"> Annuler </a>
		</div>
		
	</form>

	<form action="" method="post" id = "FormPostulant">
		{% csrf_token %}
		{% crispy postulant %}
		
		{% crispy formation %}
		<p class="errorlist">{{ erreur }}</p>
		{% crispy compte %}
		
		<div class="row">
			<input type="hidden" value="postulant" name="typeProfile" />
			<input type="submit" value="Envoyer" class="btn btn-success btn-link col-3 float-left" />
			<div class="offset-6"></div>
			<a class="btn btn-danger float-right col-3" href="{% url 'login' %}"> Annuler </a>
		</div>
	</form>

{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/inscription.js' %}"></script>
{% endblock %}
