{% extends "base2test.html" %}
{% load staticfiles %}
{% block autreCSS %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"/>
{% endblock %}
{% block title %}Profile utilisateur{% endblock %}
{% block bodyId %}profile{% endblock %}
{% block info_user%} {{user.prenom}} {{user.nom}} {% endblock %}

{% block centre %}
{% block breadcrumb %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"> <a href="{% url 'accueil' %}">Accueil</a></li>
		<li class="breadcrumb-item active">Mon profile</li>
	</ol>
</nav>
{% endblock %}
{% include 'recherche.html' %}
{% block info %}
<center class="center"> <h1> Votre profile utilisateur </h1> </center>
	<p class="container" >
		<dl class="container">
			<dt>Nom : </dt>
			<dd>{{user.nom}}</dd>

			<dt>Prénom : </dt>
			<dd> {{user.prenom}} </dd>

			<dt>Date de naissance : </dt>
			<dd> {{user.dateNaissance}} </dd>

			<dt>Tél mobile : </dt>
			<dd>{{user.numTel}}</dd>

			<dt>Sexe : </dt>
			<dd>{{user.sexe}}</dd>

		{% if user.type_personne == 'Etudiant' %}
			<dt>Faculté : </dt>
			<dd>{{user.filiere.nom_filiere}} ( {{user.filiere.dpt}} ) </dd>
 
			<dt>Niveau : </dt>
			<dd>{{user.niveau.nom_classe}}</dd>
			
			<dt>Matricule : </dt>
			<dd>{{user.matricule}}</dd>

			<dt>Année académique : </dt>
			<dd>{{user.promotion}}</dd>
		{% endif %}
			<p class="btn btn-group">
				<a class="btn btn-primary active mr-5" href="{% url 'modifProfile' %}">Modifier</a>
				{% if user.type_personne == 'Etudiant' %}
				<a class="btn btn-secondary ml-5" href="{% url 'Rapport:consulterMesRapports' %}">Voir mes stages</a>
				{% endif %}
			</p>
		</dl>
	</p>

	
{% endblock %}

{% endblock %}