.label
{
	font-weight: bold;
	display: block;
}

.val
{
	font-style: italic;
	font-size: 0.9em;
	display: inline;
}

#infoDos
{
	margin-bottom: 3em;
}

.contenuRens
{
	margin-top: 4em;
}

table
{
	width: 100%;
}

.color_champs
{
	color: red;
}

/*
input, select option {
	text-align: center;
}*/